@use "./base/index";
@use "./base/variables" as *;
@use "./base/mixin" as *;

/*---------- TAILWIND ----------*/
@tailwind utilities;

/*---------- THEME ----------*/
:root {
  --color-main: #fde68a;
  --color-text: #393939;
  --color-bg: #fff;
}

[data-theme="dark"] {
  --color-main: #222;
  --color-text: #ddd;
  --color-bg: #222;
}

.color-main {
  background-color: var(--color-main);
  transition: 0.3s;
}

.color-text {
  color: var(--color-text);
  transition: 0.3s;
}

.color-bg {
  background-color: var(--color-bg);
  transition: 0.3s;
}

.color-border {
  border-color: var(--color-text);
  background-color: var(--color-text);
  transition: 0.3s;
}

/*---------- USER ----------*/
.centering {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centering-x {
  left: 50%;
  transform: translateX(-50%);
}

.centering-y {
  top: 50%;
  transform: translateY(-50%);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// SP
@media (max-width: #{$BREAK-POINT + px}) {
}
