@use "reset";
@use "variables" as *;

// BASE
html {
  font-size: 62.5%;

  @media screen and (min-width: #{$PC + px}) {
    font-size: calc(100vw * 10 / #{$PC});
  }

  @media screen and (min-width: #{$default-width + px}) and (max-width: #{$PC + px}) {
    font-size: 62.5%;
  }

  @media screen and (min-width: #{$BREAK-POINT + px}) and (max-width: #{$default-width + px}) {
    font-size: calc(100vw * 10 / #{$default-width});
  }

  @media screen and (max-width: #{$BREAK-POINT + px}) {
    font-size: calc(100vw * 10 / #{$SP});
  }
}

body {
  font-family: Montserrat, "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: #{$BREAK-POINT + px}) {
  .sp-only {
    display: none !important;
  }
}

@media screen and (max-width: #{$BREAK-POINT + px}) {
  .pc-only {
    display: none !important;
  }
}
